.blog-card:hover {
    border: 1px solid #e2e2e2;
    /* box-shadow: 0 0 40px #7b4e8d6c; */
    animation: light 0.5s;
    animation-fill-mode: forwards;
}

@keyframes light {
    from {
        box-shadow: 0 0 40px #7b4e8d00;
    }
    to {
        box-shadow: 0 0 40px #7b4e8d6c;
    }
}