.nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    height: 100%;
    width: 1250px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 20px;
    color: white;
}