.footer {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-list {
    display: flex;
    align-items: center;
}

.link-item:not(:last-child)::after {
    content: '•';
    padding: 0 10px; 
    color: #c0c0c0; 
}

.link-item {
    color: #c0c0c0;
}

.link {
    color: #c0c0c0;
    font-size: 14px;
}