:root {
  --bg: #000000;
  --text-color: #ffffff;
  --border-color: #282D30;
  --link-hover-color: #1A94E6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}