/* CSS 初始化 */
:root {
  --bg: #181818;
  /* --bg: #fff; */
  --text-color: #c0c0c0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Linear风格的基础 */
  body {
    background-color: var(--bg); /* 暗色背景 */
    font-family: 'Inter', sans-serif; /* 庄重的无衬线字体 */
    color: var(--text-color); /* 浅灰色文字 */
  }
  
  /* 文本元素 */
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* 白色文字 */
    text-transform: uppercase; /* 文字大写 */
    letter-spacing: 1.5px; /* 字母间距 */
  }
  
  /* 链接 */
  a {
    color: #ffffff; /* 蓝色链接 */
    text-decoration: none; /* 去除下划线 */
  }
  a:hover {
    color: #4684e0; /* 悬停时添加下划线 */
  }
  
  /* 列表 */
  ul, ol {
    list-style: none; /* 去除列表样式 */
  }
  
  /* 图片和视频 */
  img, video {
    max-width: 100%;
    height: auto;
  }
  
  /* 表格 */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #333; /* 细描边 */
  }
  
  /* 表单元素 */
  input, button, textarea, select {
    background-color: #222; /* 输入框暗色背景 */
    border: none;
    color: #fff; /* 白色文字 */
    padding: 10px;
    margin: 10px 0;
  }
  
  /* 按钮 */
  button {
    background-color: none; /* 蓝色按钮背景 */
    color: #ffffff; /* 白色文字 */
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #333;
  }

  .container {
    margin: 0 auto;
    width: 1250px;
    min-height: 90vh;
  }
  