.main {
    margin: 0 auto;
    width: 1250px;
    height: 100vh;
    margin-top: 70px;
}

.text-box {
    width: 1000px;
    margin: 0;
    .hello {
        font-size: 22px;
    }
    .name {
        font-size: 38px;
    }
    .question {
        font-size: 21px;
    }
    .answer {
        font-size: 14px;
    }
    .hobby {
        font-size: 24px;
    }
    .maxim {
        font-size: 15px;
    }
}
  

.text-box-item {
    margin-left: 0px;
    color: white;
    letter-spacing: 5px;
}

.icon-box {
    width: 1000px;
    margin: 0;
}

.icon-box-item {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.color-517FE8 {
    color: #517FE8;
}
.color-c0c0c0 {
    color: #c0c0c0;
}
.color-57C3DC {
    color: #57C3DC;
}
.color-3177C5 {
    color: #3177C5;
}
.color-C85008 {
    color: #C85008;
}