.profile {
    width: 100%;
    margin: 40px 0 20px 0;
}

.blog-list {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3; /* 标准语法：列数 */
    
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px; /* 列间距 */
}

.blog-list-item {
    break-inside: avoid; /* 防止项目被分割到不同列 */
    margin-bottom: 20px; /* 设置卡片的底部外边距 */
}

.line {
    height: 2px;
    width: 35%;
    background-color: #c0c0c0;
    margin-top: 10px;
    margin-bottom: 15px;
}