.text-box {
    width: 1000px;
    margin: 0;
    .hello {
        font-size: 20px;
    }
    .name {
        font-size: 40px;
    }
    .question {
        font-size: 20px;
    }
    .answer {
        font-size: 20px;
    }
    .hobby {
        font-size: 40px;
    }
    .maxim {
        font-size: 20px;
    }
}

.text-box-item {
    margin-left: 0px;
    color: white;
    letter-spacing: 5px;
}

.color-517FE8 {
    color: #517FE8;
}
.color-c0c0c0 {
    color: #c0c0c0;
}
.color-57C3DC {
    color: #57C3DC;
}
.color-3177C5 {
    color: #3177C5;
}
.color-C85008 {
    color: #C85008;
}